Repository dt418/nghien-phim: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: pnpm eslint {staged_files} --fix
    format:
      glob: '*.{js,jsx,ts,tsx,md,mdx,html,css,scss,json,yml,yaml}'
      run: pnpm prettier {staged_files} --write
    build:
      run: pnpm build

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

feat: add HTML sanitization utility and update movie description rendering
  .prettierignore
  lefthook.yaml
Due: format

chore: add typecheck for ts,tsx
  lefthook.yaml
Due: format

chore: remove typecheck step from lefthook configuration
  lefthook.yaml
Due: format

fix: update editorconfig to support both .yml and .yaml file extensions
  .editorconfig
Due: none

chore: update .gitignore
  .gitignore
Due: none

chore: move from husky to lefthook for
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .husky/commit-msg
  .husky/pre-commit
  lefthook.yaml
  package.json
  pnpm-lock.yaml
Due: format

chore: remove husky and migrate to lefthook for git hooks management
  package.json
  pnpm-lock.yaml
Due: format

chore: update .gitignore to refine environment file patterns
  .gitignore
  Dockerfile.prod
Due: none

fix: lefthook working well without prepare script
  package.json
Due: format

fix: update .npmrc to fix lefthook can execute
  .npmrc
Due: none

feat: enhance configuration and Docker setup for improved environment variable handling
  .gitignore
  .npmrc
  Dockerfile
  Dockerfile.prod
  docker-compose.yml
  next.config.ts
  pnpm-lock.yaml
  src/lib/config.ts
Due: lint, format

chore: update packageManager and reusify dependency version in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: format

chore: update .dockerignore and .npmrc for improved build
  .dockerignore
  .npmrc
  Dockerfile
Due: none

feat: enhance Docker setup and add build scripts for environment variable handling
  Dockerfile
  build-image.ps1
  build-image.sh
  docker-compose.yml
  package.json
Due: format

fix: improve formatting and healthcheck command in docker-compose.yml
  docker-compose.yml
Due: format

ci: create docker-image.yml
  .github/workflows/docker-image.yml
Due: format

ci: update docker-image.yml
  .github/workflows/docker-image.yml
Due: format

ci : update docker-image.yml to build and push to docker hub
  .github/workflows/docker-image.yml
Due: format

fix: docker-image.yml
  .github/workflows/docker-image.yml
Due: format

Update docker-image.yml
  .github/workflows/docker-image.yml
Due: format

fix: docker-image.yml use wrong env
  .github/workflows/docker-image.yml
Due: format

fix: upgrade lucide-react from 0.453.0 to 0.475.0
  package.json
Due: format

fix: upgrade next-themes from 0.3.0 to 0.4.4
  package.json
Due: format

fix: upgrade next from 15.1.2 to 15.1.6
  package.json
Due: format

fix: update scripts to use bun and improve film list display
  bun.lock
  lefthook.yaml
  package.json
  src/app/page.tsx
  src/components/ui/film/film.list.tsx
  src/components/ui/film/film.top-view.tsx
Due: lint, format

feat: add Dockerfile.bun for Bun-based builds and enhance build scripts
  Dockerfile.bun
  build-image.ps1
  build-image.sh
Due: none

Update Dockerfile
  Dockerfile
Due: none

chore: clean up build scripts and improve documentation
  pnpm-lock.yaml
Due: format

fix: update lockfile handling and upgrade dependencies
  Dockerfile
  package.json
  pnpm-lock.yaml
  src/providers/theme.tsx
Due: lint, format

feat: add Vitest setup and initial tests for Button component
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  tests/components/ui/button.test.tsx
  tests/setup.ts
  tests/utils/test-utils.tsx
  tsconfig.json
  vitest.config.mts
Due: lint, format

refactor: simplify HTML structure in RootLayout component
  src/app/layout.tsx
Due: lint, format

fix: upgrade next from 15.1.6 to 15.1.7
  package.json
Due: format

style: enhance text gradient and update font class in layout
  src/app/globals.css
  src/app/layout.tsx
Due: lint, format

feat: add nuqs package and update pnpm lockfile
  package.json
  pnpm-lock.yaml
Due: format

fix: eslint config
  biome.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: format

chore: update ESLint configuration and remove biome.json
  .vscode/settings.json
  biome.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tests/components/ui/button.test.tsx
  tests/utils/test-utils.tsx
  vitest.config.mts
Due: lint, format

feat: update revalidation time to 3600 seconds and enhance search functionality
  .vscode/settings.json
  lefthook.yaml
  src/app/api/set-search/route.ts
  src/app/danh-sach/[category]/page.tsx
  src/app/nam-phat-hanh/[slug]/page.tsx
  src/app/page.tsx
  src/app/phim/[slug]/[server]/xem-phim/[ep]/page.tsx
  src/app/phim/[slug]/page.tsx
  src/app/quoc-gia/[slug]/page.tsx
  src/app/the-loai/[category]/page.tsx
  src/app/tim-kiem/page.tsx
  src/components/partials/footer.tsx
  src/components/ui/header/page-search-params.tsx
  src/components/ui/header/search-bar.tsx
  src/components/ui/search/search-breadcrumb.tsx
  src/lib/stringUtils.ts
  src/types/search.ts
Due: lint, format

fix: clean up ESLint configuration and adjust import sorting
  .vscode/settings.json
  eslint.config.js
Due: lint, format
